* {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header {
  color: rgb(255, 255, 255);
}

main {
  width: 100vw;
  height: 100vh;
}

.roboto {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

#header {
  background-color: gray;
  width: 100vw;
  height: 2.87rem;
}

.headerCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 1rem;
}

#headerNav {
  background-color: #3c3a39;
}

#logo {
  text-decoration: none;
  color: rgb(201, 201, 201);
  transition: all 300ms ease-in-out;
}

#logo:hover {
  color: white;
}

#headerNav p,
#menu {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

#main {
  height: 100%;
  width: 100vw;
  background-color: #1c1a19;
  background-image: url(BG.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#mainCont {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 6.5rem;
  height: 100%;
}

#mainCont h1 {
  font-family: "Courier Prime", monospace;
  font-family: "Crete Round", serif;
  color: #ff6b00;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

#mainCont h2 {
  color: white;
}

#mainCont p {
  font-family: "Courier Prime", monospace;
  font-family: "Crete Round", serif;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.05rem;
}

#mainIcons {
  display: flex;
  width: 100%;
  padding-left: 0.3rem;
  z-index: 2;
}

.icon {
  padding: 1rem 0.75rem;
  transition: border-bottom 500ms ease-in-out;
  border-radius: 16rem;
  text-decoration: underline;
  border-bottom: 1px solid transparent;
}

.icon:hover {
  border-bottom: 1px solid #ff6b00;
}
