/* GLOBALS */

* {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  min-width: 100vw;
}

header {
  color: rgb(255, 255, 255);
  max-width: 100vw;
}

main {
  width: 100vw;
}

h2 {
  font-weight: normal;
}

.roboto {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.creteRound {
  font-family: "Crete Round", serif;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* GLOBALS */

/* MAIN */

#header {
  background-color: gray;
  width: 100vw;
  height: 2.87rem;
}

.headerCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 1rem;
}

#headerNav {
  background-color: #3c3a39;
}

#logo {
  text-decoration: none;
  color: rgb(201, 201, 201);
  transition: all 300ms ease-in-out;
}

#logo:hover {
  color: white;
}

#headerNav p,
#menu {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

#main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1c1a19;
  background-image: url(img/BG.svg);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: right 17rem;
  flex-wrap: nowrap;
  border-bottom: 5px solid #ff6b00;
}

#mainCont {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 6.5rem;
  height: 100%;
}

#mainCont h1 {
  color: #ff6b00;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  min-width: 21rem;
  max-width: 21rem;
}

#mainCont h2 {
  color: white;
  font-weight: bold;
}

#mainCont p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.05rem;
  max-width: 29rem;
}

#mainIcons {
  display: flex;
  width: 100%;
  padding-left: 0.3rem;
  z-index: 2;
}

.icon {
  padding: 1rem 0.5rem;
  transition: border-bottom 500ms ease-in-out;
  border-radius: 16rem;
  text-decoration: underline;
  border-bottom: 1px solid transparent;
}

.icon:hover {
  border-bottom: 1px solid #ff6b00;
}

/* MAIN */

/* WORKS */

#works {
  height: 100%;
}

#worksCont {
  align-items: center;
  height: 100%;
  justify-content: normal;
  padding: 5rem 1rem;
}

#worksTitle {
  width: 100%;
  background-color: antiquewhite;
  text-transform: capitalize;
  padding: 1.75rem 0 0.5rem;
  border-bottom: 1px solid black;
}

#worksTitle h2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #1c1a19;
}

#worksGrid {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  grid: 1fr repeat(6, 1fr) / 100%;
  background-color: rgba(82, 82, 82, 0.206);
  row-gap: 0.5rem;
  padding-top: 5rem;
}

/* PRIMARY CARD */

#pGridCont {
  grid-area: auto;
  border: 1px solid rgba(0, 0, 255, 0);
}

#pImgGrid {
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.118);
  background-image: url(imgGrid/grid1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#pGridTitle {
  font-size: 1.3rem;
  color: #091e42;
}

#pGridP {
  font-family: "Inter", sans-serif;
  font-size: 1.05rem;
  color: #091e42;
  margin: -0.75rem 0;
}

#pTechCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
}

#pTechCont ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.75rem;
}

#pTechCont li {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border: 1px solid #8993a4;
}

#pTechCont a:link {
  text-decoration: none;
}

#pTechCont a:visited {
  color: #091e42;
}

#action {
  padding: 0.9rem 1rem !important;
  background-color: #ff6b00;
  color: white;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

/* PRIMARY CARD */

/* SECONDARY CARDS */

/* SECONDARY CARDS */

/* WORKS */
