/* GLOBALS */

* {
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  min-width: 100vw;
}

header {
  color: rgb(255, 255, 255);
  max-width: 100vw;
}

main {
  width: 100vw;
}

h2 {
  font-weight: normal !important;
}

.roboto {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.creteRound {
  font-family: "Crete Round", serif;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* GLOBALS */

/* MAIN */

#header {
  background-color: gray;
  width: 100vw;
  height: 2.87rem;
}

.headerCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: 1rem;
}

#headerNav {
  background-color: #3c3a39;
}

#logo {
  text-decoration: none;
  color: rgb(201, 201, 201);
  transition: all 300ms ease-in-out;
}

#logo:hover {
  color: white;
}

#headerNav p,
#menu {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

#main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #1c1a19;
  background-image: url(img/BG.svg);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: right 17rem;
  flex-wrap: nowrap;
  border-bottom: 5px solid #ff6b00;
}

#mainCont {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 6.5rem;
  height: 100%;
}

#mainCont h1 {
  color: #ff6b00;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  min-width: 21rem;
  max-width: 21rem;
}

#mainCont h2 {
  color: white;
  font-weight: bold;
}

#mainCont p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.05rem;
  max-width: 29rem;
}

#mainIcons {
  display: flex;
  width: 100%;
  padding-left: 0.3rem;
  z-index: 2;
}

.icon {
  padding: 1rem 0.5rem;
  transition: border-bottom 500ms ease-in-out;
  border-radius: 16rem;
  text-decoration: underline;
  border-bottom: 1px solid transparent;
}

.icon:hover {
  border-bottom: 1px solid #ff6b00;
}

/* MAIN */

/* WORKS */

#works {
  height: 100%;
}

#worksCont {
  align-items: center;
  height: 100%;
  justify-content: normal;
  padding: 5rem 1.4rem;
}

#worksTitle {
  width: 100%;
  text-transform: capitalize;
  padding: 1.75rem 0 0.5rem;
  border-bottom: 1px solid black;
}

#worksTitle h2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #1c1a19;
}

#worksGrid {
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  row-gap: 0.5rem;
  padding-top: 5rem;
}

/* PRIMARY CARD */

#pGridCont {
  grid-area: auto;
  border: 1px solid rgba(0, 0, 255, 0);
}

#pImgGrid {
  height: 15.5rem;
  display: flex;
  flex-direction: column;
  background-image: url(imgGrid/pGrid1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#pGridTitle {
  font-size: 1.3rem;
  color: #091e42;
}

#pGridP {
  font-size: 1.05rem;
  color: #091e42;
  margin: -0.75rem 0;
}

#pTechCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  cursor: pointer;
}

#pTechCont ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.75rem;
}

#pTechCont li {
  font-weight: 500;
  border: 1px solid #8993a4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  transition: all 300ms;
}

#pTechCont li:hover {
  transform: scale(1.1);
}

.pTechLink:link {
  text-decoration: none;
  color: black;
}

#pTechCont a:visited {
  color: #091e42;
}

#action {
  padding: 0.9rem 1rem !important;
  background-color: #ff6b00;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#action:hover {
  transform: scale(1.1);
}

/* PRIMARY CARD */

/* SECONDARY CARDS */

.gridCont {
  height: 25.5rem;
  color: white;
}

.sGrid {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.imgGrid {
  height: 100%;
  background-image: url(imgGrid/grid.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.gridPadding {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardP {
  line-height: 24px;
}

.projectN {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin: 0 0 -2.3rem;
}

.techCont {
  height: 4rem;
}

.cardUl {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 1rem;
  cursor: pointer;
}

.cardLi {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 0.6rem 0.5rem;
  transition: all 300ms ease-in-out;
  -webkit-text-stroke: 0.25px;
}

.cardLi:hover {
  transform: scale(1.15);
  background-color: rgba(255, 255, 255, 0.432);
}

.cardLink:link {
  text-decoration: none;
  color: white;
}

.cardLink:visited {
  color: white;
}

.gridButton {
  height: 3.05rem;
  width: 100%;
  background-color: #ff6b00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  cursor: pointer;
}

.gridButton:hover {
  background-color: #ff6a00a8;
}

/* SECONDARY CARDS */

/* WORKS */

/* ABOUT ME */

#aboutMe {
  padding-top: 2.5rem;
  background-color: #1c1a19;
  border-top: 5px solid #ff6b00;
}

#aboutMeCont {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(img/aboutMeBG.svg);
  background-repeat: no-repeat;
  background-position: right 23.5rem;
}

#about {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 37rem;
  align-items: flex-start;
  padding-top: 3.5rem;
  border-bottom: 1px solid #fff;
}

#aboutTitle {
  color: #ff6b00;
  width: 100%;
  height: 10rem;
  font-size: 3rem;
  font-weight: normal;
  padding: 0;
}

#aboutText {
  color: white;
  width: 93%;
  line-height: 24px;
  font-size: 1rem;
}

#buttonCV {
  width: 10.3rem;
  font-weight: bold;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.77rem;
  text-transform: capitalize;
}

#cvLink {
  background-color: #ff6b00;
  width: 10rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

#cvLink:link {
  text-decoration: none;
  color: white;
}

#cvLink:visited {
  color: white;
}

#cvLink:hover {
  transform: scale(1.05);
}

/* SKILLS */

#aboutMeSkills {
  padding: 7rem 0;
  align-items: center;
  color: white;
}

.skillsCont {
  align-items: center;
}

.sTitle {
  text-align: center;
  width: 100%;
  font-size: 1.3rem;
  -webkit-text-stroke: 1px;
}

.skillsUl {
  justify-content: center;
  align-items: center;
  list-style: circle;
  transform: translateX(-1.25rem);
}

.skillsLi {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.3rem;
}

/* SKILLS */

/* ABOUT ME */
